<table style="width:100%">
  <tr>
    <th>Entity Number</th>
    <th>Entity Type</th>
    <th>Entity Structure</th>
    <th>Loan</th>
  </tr>
  <tr>
    <td><a href="/entities/<%=@entity.id%>"><%=@entity.name%></a></td>
    <td><%=@entity.entity_type%></td>
    <td><%=@entity.structure%></td>
    <td><%if !!@entity.loan%>
        <a href="/loans/<%=@entity.loan.id%>"><%=@entity.loan.name%></a><%end%></td>
  </tr>
</table>
<br>
<ul><form method="GET" action="/entities/<%=@entity.id%>/edit">
    <input type='submit' value='Edit Entity'>
</form>
<form method="POST" action="/entities/<%=@entity.id%>/delete">
    <input type='hidden' id='hidden' name='_method' value='delete'>
    <input type='submit' value='Delete Entity'>
</form></ul>
